a {
    color: white;
    padding-right: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
}

h1 {
    color: white;
}

.header {
    margin-top: 13vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10vh;
    font-size: 25px;


    @media (max-width: 820px) {
        margin-top: 3vh;
    }
}


.logo {
    height: 7vh;
}

.rounterLinks {
    text-decoration: none;

    &:hover {
        color: #FA2759;
    }
}

.menuSection {
    display: flex;
    gap: 60px;

    @media (max-width: 820px) {
        display: none;
    }
}

.mobileNavbar {
    display: none;
    flex-direction: column;

    img {
        height: 15px;
        width: 25px;
    }

    :hover {
        cursor: pointer;
    }

    @media (max-width: 820px) {
        display: flex;
    }
}



.dropdown {
    position: relative;
    display: inline-block;


    a {
        margin: 15px;
        text-decoration: none;
        text-align: center;
    }

    a:hover {
        color: #2DFCD8;
    }
}

.dropdown img {
    width: 20px;
}

.dropdown-content {
    display: none;

    position: absolute;
    background-color: rgb(0, 0, 0);
    color: white;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 20px;
    right: -50px;

}

.dropdown-content p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20%;

}

.dropdown:hover .dropdown-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;

}