.name {
    margin-top: 150px;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;

    h1 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 90px;
        line-height: 20%;
    }

    h2 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 58px;
        line-height: 20%;
        color: #9747FF;
    }
}

.i_am {
    transform: rotate(270deg);
    margin-right: -550px;

    a {
        color: white;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 64px;
        line-height: 120%;
    }
}

img {
    height: 550px;
    width: 550px;
}


.itsMe {
    display: flex;
    justify-content: space-between;
}

.images {
    display: flex;
}

.img_1 {
    position: absolute;
}

.img_2 {
    z-index: 1;
}

.talkBtn {
    color: white;
    background: #70E61C;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;
    width: 165px;
    height: 58px;
}