<div class="backgroundColor">


<div id="aboutMe" class="aboutMeSection">


    <div class="image">
        <img  src="../../assets/images/FinalProfilImg.png">
    </div>


    <div class="aboutMeText">
        <h1>About me.</h1>
        <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus quasi alias ducimus vitae excepturi
            tempore odio dolor error? Modi quae alias mollitia ipsum aliquid corporis tempora in accusamus et
            necessitatibus!
        </span>
    </div>



</div>

<div class="blueLine">

</div>

<div class="infos">
    <div class="blueCirclePosition">
        <div class="blueCircle"><img src="../../assets/logos/manakin.png"></div>
        <span>MY JOURNEY BEGAN</span>
        <br>
        <span class="blueCircleText">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos delectus similique commodi illo obcaecati
            laborum! Eum iusto eaque, quia dolorem quibusdam eius enim voluptas nam, obcaecati eveniet, dolorum debitis?
            Saepe!
        </span>
    </div>

    <div class="blueCirclePosition">
        <div class="blueCircle"><img src="../../assets/logos/heart.png"></div>
        <span>MY PASSIONS</span>
        <br>
        <span class="blueCircleText">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos delectus similique commodi illo obcaecati
            laborum! Eum iusto eaque, quia dolorem quibusdam eius enim voluptas nam, obcaecati eveniet, dolorum debitis?
            Saepe!
        </span>
    </div>

    <div class="blueCirclePosition">
        <div class="blueCircle"><img src="../../assets/logos/lense.png"></div>
        <span>??????????</span>
        <br>
        <span class="blueCircleText">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos delectus similique commodi illo obcaecati
            laborum! Eum iusto eaque, quia dolorem quibusdam eius enim voluptas nam, obcaecati eveniet, dolorum debitis?
            Saepe!
        </span>
    </div>

    <div class="blueCirclePosition">
        <div class="blueCircle"><img src="../../assets/logos/plane.png"></div>
        <span>MY GOALS</span>
        <br>
        <span class="blueCircleText">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos delectus similique commodi illo obcaecati
            laborum! Eum iusto eaque, quia dolorem quibusdam eius enim voluptas nam, obcaecati eveniet, dolorum debitis?
            Saepe!
        </span>
    </div>

</div>

</div>