.itsMe {
    display: flex;
    justify-content: space-between;
}


.name {
    margin-top: 150px;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;

    span {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 90px;
    }

    span:nth-child(2) {
        color: #2DFCD8;
    }
}


.image {
    display: flex;
    background-color: aqua;
    border-radius: 100%;
    width: 500px;

    img {
        height: 550px;
        width: 550px;
        border-radius: 50%;
    }
}

.img {
    z-index: 1;
}

.talkBtn {
    color: #2DFCD8;
    background: black;
    border-color: #2DFCD8;
    border-radius: 0px;
    font-family: 'Gilroy-Bold';
    font-size: 18px;
    line-height: 14px;
    width: 20vw;
    height: 58px;
}