<div class="backgroundColor">


<div id="aboutMe" class="aboutMeSection">


    <div class="image">
        <img  src="../../assets/images/FinalProfilImg.png">
    </div>


    <div class="aboutMeText">
        <h1>About me.</h1>
        <span>My name is Robin Osburg and I´m a front end developer based in Germany. I describe myself as a passionate developer, who loves coding and sports.
        </span>
    </div>



</div>

<div class="blueLine">

</div>

<div class="infos">
    <div class="blueCirclePosition">
        <div class="blueCircle"><img src="../../assets/logos/manakin.png"></div>
        <span>MY JOURNEY BEGAN</span>
        <br>
        <span class="blueCircleText">started during the pandemic, when i couldn´t work as an physiotherapist anymore. Then I gave my  passion for software a try.
        </span>
    </div>

    <div class="blueCirclePosition">
        <div class="blueCircle"><img src="../../assets/logos/heart.png"></div>
        <span>MY DETERMINATION</span>
        <br>
        <span class="blueCircleText">began, when I applied to the "Developer Akademie". There I learned the essentials to become a front-end developer professional.
        </span>
    </div>

    <div class="blueCirclePosition">
        <div class="blueCircle"><img src="../../assets/logos/lense.png"></div>
        <span>MY PASSION</span>
        <br>
        <span class="blueCircleText">always have been computers and  outdoor and indoor sport. I love pushing boundaries in sports and developing.
        </span>
    </div>

    <div class="blueCirclePosition">
        <div class="blueCircle"><img src="../../assets/logos/plane.png"></div>
        <span>MY GOALS</span>
        <br>
        <span class="blueCircleText">for now are to enhance my skills and become a fullstack developer in the future.
        </span>
    </div>

</div>

</div>