<div id="portfolio">
    <span class="headLine">
        <h1>My work</h1>
    </span>
    <div class="topicBoxeRow">
        <div (click)="showAllProjects()" class="topicBox">All</div>
        <div (click)="showAngularProjects()" class="topicBox">Angular</div>
        <div (click)="showJsProjects()" class="topicBox">Java Script</div>
    </div>

    <div class="projectBoxes">
        <div>
            <div *ngIf="angularProject" class="projects">
                <img  class="image" src="../../assets/images/Portfoliobild_1.jpg">
                <div class="middle">
                    <div class="text">
                        <button>Try out</button>
                        <span class="hoverText">Angular based Webpage</span>
                        <h2>Portfolio</h2>
                    </div>
                </div>
            </div>

            <div *ngIf="javascriptProject" class="projects" > <img 
                    class="image" src="../../assets/images/Portfoliobild_2.jpg">
                <div class="middle">
                    <div class="text">
                        <button (click)="linkTo('robinosburg.com/Join-1/')">Try out</button>
                        <span class="hoverText">Javascript based group project</span>
                        <h2>Join</h2>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div  *ngIf="angularProject"class="projects"> <img  class="image"
                    src="../../assets/images/Portfoliobild_3.jpg">
                <div class="middle">
                    <div class="text">
                        <button (click)="linkTo('ring-of-fire-5b236.web.app/game/ITECgb2j2OlafuvBDL8s')">Try out</button>
                        <span class="hoverText">Angular based sports card game</span>
                        <h2>Ring of Fire</h2>
                    </div>
                </div>
            </div>

            <div *ngIf="javascriptProject" class="projects" > <img  class="image" src="../../assets/images/Portfoliobild_4.jpg">
                <div class="middle">
                    <div class="text">
                        <button (click)="linkTo('robinosburg.com/Sharkie_Final_Version/index.html')">Try out</button>
                        <span class="hoverText">Javascript based Jump and Run game</span>
                        <h2>Sharkie</h2>
                    </div>
                </div>
            </div>
        </div>

    </div>

    
</div>