<div id="portfolio">
    <span class="headLine">
        <h1>My work</h1>
    </span>
    <div class="topicBoxeRow">
        <div (click)="showAllProjects()" class="topicBox">All</div>
        <div (click)="showAngularProjects()" class="topicBox">Angular</div>
        <div (click)="showJsProjects()" class="topicBox">Java Script</div>
    </div>

    <div class="projectBoxes">
        <div>
            <div class="projects">
                <img *ngIf="angularProject" class="image" src="../../assets/images/Portfoliobild_1.jpg">
                <div class="middle">
                    <div class="text">
                        <button>Try out</button>
                        <span class="hoverText">Angular based Webpage</span>
                    </div>
                </div>


            </div>
            <div class="projects" (click)="linkTo('robinosburg.com/Join-1/')"> <img *ngIf="javascriptProject"
                    class="image" src="../../assets/images/Portfoliobild_2.jpg">
                <div class="middle">
                    <div class="text">
                        <button>Try out</button>
                        <span class="hoverText">Javascript based group project</span>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="projects"> <img *ngIf="angularProject" class="image"
                    src="../../assets/images/Portfoliobild_3.jpg">
                <div class="middle">
                    <div class="text">
                        <button>Try out</button>
                        <span class="hoverText">Angular based sports card game</span>
                    </div>
                </div>
            </div>
            <div class="projects" (click)="linkTo('robinosburg.com/Sharkie_Final_Version/index.html')"> <img
                    *ngIf="javascriptProject" class="image" src="../../assets/images/Portfoliobild_4.jpg">
                <div class="middle">
                    <div class="text">
                        <button>Try out</button>
                        <span class="hoverText">Javascript based Jump and Run game</span>
                    </div>
                </div>
            </div>
        </div>

    </div>



</div>