<div>
    <h1>My work</h1>
    <div class="topicBoxeRow">
        <div class="topicBox">All</div>
        <div class="topicBox">Angular</div>
        <div class="topicBox">Java Script</div>
    </div>

    <div class="projectBoxes">
        <div>
            <div class="projects"> <img src="../../assets/images/nature1.jpg"></div>
            <div class="projects"> <img src="../../assets/images/nature3.jpg"></div>
        </div>
        
        <div>
            <div class="projects"> <img src="../../assets/images/snow1.jpg"></div>
            <div class="projects"> <img src="../../assets/images/nature4.jpg"></div>
        </div>

    </div>



</div>