h1 {
    color: #2DFCD8;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
}

a {
    color: #2DFCD8;
}

span {
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
}

.contactMeContainer {
    display: flex;
    align-items: center;
    flex-direction: column;

    form {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 20px;
    }

    input {
        background-color: #1A1A1A;
        color: white;
        height: 39px;
        border: none;
    }

  
    input:-webkit-autofill {
        background-color: transparent !important;
        -webkit-box-shadow: 0 0 0 50px white inset;
    }
    
    textarea {

        background-color: #1A1A1A;
        color: white;
        height: 179px;
        border: none;
    }

    .btn {
        display: flex;
        justify-content: flex-end;

        button {
            color: #2DFCD8;
            background: black;
            border-color: #2DFCD8;
            border-radius: 0px;
            font-family: 'Gilroy-Bold';
            font-size: 18px;
            line-height: 14px;
            width: 15vw;
            height: 58px;
            margin-left: 22vw;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            border-radius: 5px;

            &:hover,
            :focus {
                cursor: pointer;
                box-shadow: 0 0.5em 0.5em -0.4em currentColor;
                transform: translateY(-0.25em);
            }

            @media (max-width: 950px) {
                width: 30vw;
            }
        }
    }
}


.content {
    @media (max-width: 950px) {
        padding-left: 3vw;
        padding-right: 3vw;
    }
}