<div id="contactMe" class="contactMeContainer">
    <div class="content">
        <h1>Contact me</h1>
        <span>Get in touch via the form below, or by emailing <a>robin.osburg@web.de</a></span>


        <form (submit)="sendMail()" ngNativeValidate #myForm>
            <input required name="name" type="text" placeholder="Enter your name" #nameField>
            <input required name="mail" type="email" placeholder="Enter your Email adress" #mailField>
            <textarea required name="message" type="text" placeholder="Enter your message" #messageField></textarea>
            <div class="btn">
                <button #sendButton >Send</button>
            </div>
        </form>

    </div>

</div>