.itsMe {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    padding-left: 8vw;
    padding-right: 8vw;
   

    @media (max-width: 855px) {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin-top: -10vh;
    }
}


.name {
    margin-top: 180px;
    color: white;
    display: flex;
    flex-direction: column;



    span {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 5vw;

        @media (max-width: 855px) {
            font-size: 6vw;
        }
    }

    @media (max-width: 855px) {
        margin-top: -80px;
    }
}




.coloredName {
    color: #FA2759;
}


.coloredLetter {
    color: #2DFCD8;
}

.btn {
    display: flex;
    margin-top: 36px;


    @media (max-width: 855px) {
        justify-content: center;
    }
}

.image {
    display: flex;
    margin-top: 100px;
    justify-content: center;

    img {
        height: 56vh;
        border-radius: 50%;
        object-fit: cover;
    }

    @media (max-width: 855px) {
        margin-top: -20px;
    }
}



.talkBtn {
    color: #2DFCD8;
    background: black;
    border-color: #2DFCD8;
    border-radius: 0px;
    font-family: 'Gilroy-Bold';
    font-size: 18px;
    line-height: 14px;
    width: 20vw;
    height: 58px;
    border-radius: 5px;

    &:hover,
    :focus {
        cursor: pointer;
        box-shadow: 0 0.5em 0.5em -0.4em currentColor;
        transform: translateY(-0.25em);

    }

    a {
        text-decoration: none;
        color: #2DFCD8;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
    }

    @media (max-width: 855px) {
        width: 80vw;

    }
}


