<div class="bigBox">
    <div class="blackBox">
        <span>
            <h1>MY Skills</h1>
        </span>

        <div class="boxRow">
            <div class="skillBoxes">Angular</div>
        </div>

        <div class="boxRow">
            <div class="skillBoxes">JavaScript</div>
            <div class="skillBoxes">HTML / CSS</div>
        </div>

        <div class="boxRow">
            <div class="skillBoxes">SCRUM</div>
            <div class="skillBoxes">Git</div>
        </div>

    </div>


</div>