<div class="bigBox">
    <div class="blackBox">
        <span>
            <h1>MY Skills</h1>
        </span>

        <div class="boxRowOne">
            <div class=" whiteCircleLeft"><img src="../../assets/logos/Angluar.png"></div>
            <div class="skillBoxes">Angular</div>
        </div>

        <div class="boxRowTwo">
            <div class=" whiteCircleLeft"><img src="../../assets/logos/Js.png"></div>
            <div class="skillBoxes">JavaScript</div>

            <div class=" whiteCircleRight"><img src="../../assets/logos/html_css.png"></div>
            <div class="skillBoxes">HTML / CSS</div>
        </div>

        <div class="boxRowThree">
            <div class=" whiteCircleLeft"><img src="../../assets/logos/scrum.png"></div>
            <div class="skillBoxes">SCRUM</div>

            <div class=" whiteCircleRight"><img src="../../assets/logos/git.png"></div>
            <div class="skillBoxes">Git</div>
        </div>

    </div>


</div>