.bigBox {
    display: flex;
    margin-top: 7vh;
}

.blackBox {
    background-color: #131111;
    color: white;
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
   

    h1 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 90px;
    }

    @media (max-width: 820px) {
        height: unset;
    }

}

.wrapContainer{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    max-width: 800px;
}


.skillBoxes {
    position: relative;
    margin: 9px;
}


.skillNames{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    width: 182.97px;
    height: 119.92px;
    background-color: white;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    border-radius: 5px;

    @media (max-width: 820px) {
        width: 150.97px;
    }
}



.whiteCircle {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(197, 197, 197, 0.89);
    position: absolute;
    bottom: 90px;
    left: 67px;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
        height: 25px;
        width: 25px;
    }
    @media (max-width: 820px) {
        left: 50px;
    }
}

// .whiteCircleJavaScript {
//     height: 60px;
//     width: 60px;
//     border-radius: 100%;
//     background: #FFFFFF;
//     box-shadow: 0px 4px 4px rgba(197, 197, 197, 0.25);
//     position: absolute;
//     bottom: 90px;
//     left: 65px;
//     display: flex;
//     justify-content: center;
//     align-items: center;

//     img{
//         height: 25px;
//         width: 25px;
//     }

//     @media (max-width: 820px) {
//         left: 50px;
//     }
// }

// .whiteCircleHTML{
//     height: 60px;
//     width: 60px;
//     border-radius: 100%;
//     background: #FFFFFF;
//     box-shadow: 0px 4px 4px rgba(197, 197, 197, 0.25);
//     position: absolute;
//     bottom: 90px;
//     left: 67px;
//     display: flex;
//     justify-content: center;
//     align-items: center;

//     img{
//         height: 25px;
//         width: 25px;
//     }

//     @media (max-width: 820px) {
//         left: 50px;
//     }
// }

// .whiteCircleFirebase{
//     height: 60px;
//     width: 60px;
//     border-radius: 100%;
//     background: #FFFFFF;
//     box-shadow: 0px 4px 4px rgba(197, 197, 197, 0.25);
//     position: absolute;
//     bottom: 90px;
//     left: 67px;
//     display: flex;
//     justify-content: center;
//     align-items: center;

//     img{
//         height: 25px;
//         width: 25px;
//     }

//     @media (max-width: 820px) {
//         left: 50px;
//     }
// }

// .whiteCirclScrum{
//     height: 60px;
//     width: 60px;
//     border-radius: 100%;
//     background: #FFFFFF;
//     box-shadow: 0px 4px 4px rgba(197, 197, 197, 0.25);
//     position: absolute;
//     bottom: 90px;
//     left: 67px;
//     display: flex;
//     justify-content: center;
//     align-items: center;

//     img{
//         height: 25px;
//         width: 25px;
//     }

//     @media (max-width: 820px) {
//         left: 50px;
//     }
// }

// .whiteCircleGit{
//     height: 60px;
//     width: 60px;
//     border-radius: 100%;
//     background: #FFFFFF;
//     box-shadow: 0px 4px 4px rgba(197, 197, 197, 0.25);
//     position: absolute;
//     bottom: 90px;
//     left: 67px;
//     display: flex;
//     justify-content: center;
//     align-items: center;

//     img{
//         height: 25px;
//         width: 25px;
//     }

//     @media (max-width: 820px) {
//         left: 50px;
//     }
// }

// .whiteCircleCss{
//     height: 60px;
//     width: 60px;
//     border-radius: 100%;
//     background: #FFFFFF;
//     box-shadow: 0px 4px 4px rgba(197, 197, 197, 0.25);
//     position: absolute;
//     bottom: 90px;
//     left: 67px;
//     display: flex;
//     justify-content: center;
//     align-items: center;

//     img{
//         height: 25px;
//         width: 25px;
//     }

//     @media (max-width: 820px) {
//         left: 50px;
//     }
// }






