<div id="skills" class="bigBox">

   

    <div class="blackBox">

        <span>
            <h1>My Skills</h1>
        </span>

        <div class="wrapContainer">
            <div class="skillBoxes">
                <div class=" whiteCircle"><img src="../../assets/logos/angular (1).png"></div>
                <div class="skillNames">Angular</div>
            </div>

            <div class="skillBoxes">
                <div class=" whiteCircle"><img src="../../assets/logos/API.png"></div>
                <div class="skillNames">Rest API</div>
            </div>

            <div class="skillBoxes">
                <div class=" whiteCircle"><img src="../../assets/logos/Typescript_logo_2020.svg.png"></div>
                <div class="skillNames">TypeScript</div>
            </div>

            <div class="skillBoxes">
                <div class=" whiteCircle"><img src="../../assets/logos/Js.png"></div>
                <div class="skillNames">JavaScript</div>
            </div>


            <div class="skillBoxes">
                <div class=" whiteCircle"><img src="../../assets/logos/html _logo.png"></div>
                <div class="skillNames">HTML</div>
            </div>


            <div class="skillBoxes">
                <div class=" whiteCircle"><img src="../../assets/logos/firebaseLogo.png"></div>
                <div class="skillNames">Firebase Database</div>
            </div>

            <div class="skillBoxes">
                <div class=" whiteCircle"><img src="../../assets/logos/scrum.png"></div>
                <div class="skillNames">SCRUM</div>
            </div>

            <div class="skillBoxes">
                <div class=" whiteCircle"><img src="../../assets/logos/git.png"></div>
                <div class="skillNames">Git</div>
            </div>

            <div class="skillBoxes">
                <div class=" whiteCircle"><img src="../../assets/logos/css_logo.png"></div>
                <div class="skillNames">CSS / SCSS</div>
            </div>

        </div>

    </div>


</div>