body {
    margin: 0;
    background-color: black;
    padding-left: 10vw;
    padding-right: 10vw;

    @media (max-width: 820px) {
        background-color: #131111;
    }
}

html {
    scroll-behavior: smooth;
}