body {
    margin: 0;
    background-color: black;
    // padding-left: 8vw;
    // padding-right: 8vw;

    @media (max-width: 950px) {
        background-color: #131111;
        padding-left: unset;
        padding-right: unset;
    }
}

html {
    scroll-behavior: smooth;
}
// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


