body {
    margin: 0;
    background-color: black;


    @media (max-width: 950px) {
        background-color: #131111;
        padding-left: unset;
        padding-right: unset;
    }
}

html {
    scroll-behavior: smooth;
}



::-webkit-scrollbar {
    width: 6px;
    overflow-y: scroll;
    background: grey;
    box-shadow: inset 0 0 6px #707070;
}

::-webkit-scrollbar-thumb {
    background: #2DFCD8;
    border-radius: 10px;
}


